/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --ivypresto: "ivypresto-display", serif;
  --paralucent: "paralucent", sans-serif;
  --nav: 300 1.5rem "paralucent", sans-serif;
  --h1: 17vw "ivypresto-display", serif;
  --politics: 300 1rem "paralucent", sans-serif;
  --social: 300 1.5rem "paralucent", sans-serif;
  --yellow: #e8f73a;
  --orange: #f94a23;
  --blue: #4897e5;
  --pink: #f25e9c;
}

/* COLOR THEME -> BODY */
.theme-yellow {
  background-color: var(--yellow);
}

.theme-orange {
  background-color: var(--orange);
}

.theme-blue {
  background-color: var(--blue);
}

.theme-pink {
  background-color: var(--pink);
}

/* CURSOR */
html,
body {
  cursor: none !important;
  scroll-behavior: smooth;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: #000;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, background-color 0.2s ease;
  z-index: 9999;
  top: 0;
  left: 0;
}

.cursor-grow {
  transform: translate(-50%, -50%) scale(1.6);
  background-color: transparent;
  border: 2px solid #000;
  background-color: #000;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 70px;
  background-color: inherit;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-sizing: border-box;
  border: 1px solid var(--black);
}

.menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo-menu a {
  font-family: var(--ivypresto);
  font-size: 3rem;
  text-decoration: none;
  color: var(--black);
}

nav .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

nav .menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav .menu-right {
  display: flex;
  align-items: center;
}

/* MENÚ */
.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menu a {
  color: var(--black);
  text-decoration: none;
  font: var(--nav);
  transition: color 0.3s;
}

.menu-right li {
  display: flex;
  align-items: center;
}

nav.menu-open .menu-left,
nav.menu-open .menu-right {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* BURGER */
.burger {
  font-size: 2rem;
  color: var(--black);
  display: none;
  cursor: pointer;
}

/* FOOTER */
#footer {
  border: var(--border);
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  font-family: var(--inter);
  font-size: 0.8rem;
  text-align: center;
  border: var(--border);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-h1 {
  font: var(--h1);
  text-align: center;
  margin: 0;
}

.footer-left {
  flex: 1 1 auto;
  text-align: left;
  text-decoration: underline;
}

.footer-left .politics {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  font: var(--politics);
}

.footer-right {
  flex: 0 0 auto;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  color: var(--black);
}

.footer-right .social {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  font-size: 1.8rem;
}

.footer-right .social i {
  color: var(--black);
}

.footer-bottom .copyright {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  font: var(--social);
}

/* NEWSLETTER */
.newsletter {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
}

/* Columna izquierda */
.newsletter-left {
  flex: 1;
  text-align: left;
  align-items: flex-end;
  justify-content: flex-start;
}

.newsletter-title {
  font-size: 2.5rem;
  font-family: var(--ivypresto);
  font-weight: 300;
}

/* Columna derecha */
.newsletter-right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#newsletter-form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
}

#newsletter-email {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  background: transparent;
  font-size: 1.5rem;
  font-family: var(--paralucent);
  font-weight: 300;
}

#newsletter-email::placeholder {
  color: black;
}

#newsletter-form button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#newsletter-email.error::placeholder {
  color: #555;
}

/* estilos para la navbar -- header */

/* Navbar base */
/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  height: 100px;
  transition: all 0.3s ease;
} */

/* Estado reducido al hacer scroll */
/* .navbar.shrink {
  height: 60px;
  padding: 10px 20px;
} */

/* Logo */
/* .logo img {
  height: 60px;
  width: auto;
  transition: all 0.3s ease;
} */

/* .logo img:hover {
  opacity: 0.8;
  transform: scale(1.2);
} */

/* Logo reducido */
/* .navbar.shrink .logo img {
  height: 40px;
} */

/* Links */
/* .nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: "paralucent", sans-serif;
  font-size: 40px;
  margin: 25px;
  transition: font-size 0.3s ease;
} */

/* Links reducidos */
/* .navbar.shrink .nav-links a {
  font-size: 28px;
  margin: 15px;
} */

/* Icono hamburguesa */
/* .burger {
  display: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
} */

/* RESPONSIVE MEDIA QUERIES */
@media screen and (max-width: 768px) {
  /* .burger {
    display: block;
  }

  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .menu-show {
    display: flex;
  }

  .nav-links a {
    margin: 15px 0;
    font-size: 28px;
  } */

  /* Ajuste shrink en móvil */
  /* .navbar.shrink {
    height: 50px;
    padding: 8px 16px;
  }
  .navbar.shrink .nav-links a {
    font-size: 24px;
  } */

  /* MENÚ */
  .menu-container {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .menu-left,
  .menu-right {
    display: none !important;
  }

  .burger {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  nav.menu-open .menu-container {
    background-color: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 70px;
    margin-top: 40px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: var(--border);
    z-index: 1000;
  }

  nav.menu-open .menu-left,
  nav.menu-open .menu-right {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
  }

  nav.menu-open .menu a {
    color: var(--black) !important;
    font-size: 2rem;
    text-decoration: none;
  }

  nav.menu-open .menu-right li {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav.menu-open .menu-right {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 0;
    width: 100%;
  }

  .logo-menu {
    position: absolute;
    top: 0;
    left: 20px;
    margin: 0;
  }

  .burger {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  /* FOOTER */
  #footer {
    width: 100%;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    text-align: center;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    flex: unset;
  }

  .footer-left .politics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-right .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: auto !important;
    margin: 0;
    margin-top: 1.5rem;
  }

  .footer-bottom .copyright {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }

  .text-info p {
    padding: 1rem 1.5rem;
  }

  .text-info .p2 {
    padding: 0.5rem 1.5rem;
  }

  .newsletter {
    flex-direction: column; /* apilar arriba/abajo */
    align-items: stretch; /* ancho completo */
    gap: 1.5rem;
  }

  .newsletter-left,
  .newsletter-right {
    flex: unset; /* quitar 1/3 y 2/3 */
    width: 100%;
    text-align: center; /* opcional, puedes dejar left */
  }

  .newsletter-left {
    order: 1; /* primero arriba */
    text-align: left; /* si quieres alineado a la izquierda */
  }

  .newsletter-right {
    order: 2; /* abajo */
  }

  .newsletter-title {
    font-size: 2rem;
  }
}
/* NOTICIAS */

:root {
  --black: #000000;
  --white: #ffffff;
  --ivypresto: "ivypresto-display", serif;
  --paralucent: "paralucent", sans-serif;

  --bg-current: #f25e9c; /* Cambia este para el fondo principal */
  --menu-bg: transparent;

  --nav-font: 300 1.5rem var(--paralucent);
  --h1-font: 17vw var(--ivypresto);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white); /* El fondo base es blanco */
  font-family: var(--paralucent);
  cursor: none !important;
}

/* SECCIÓN Y DEGRADADO */
.hero-news {
  background-color: var(--bg-current);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-title {
  font: var(--h1-font);
  margin: 0;
  color: var(--black);
  z-index: 2;
}

/* degradado a blanco */
.gradient-transition {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, var(--bg-current), var(--white));
}

.news-content {
  background-color: var(--white);
  padding: 100px 5%;
}

.news-grid {
  max-width: 800px;
  margin-left: -90px auto;
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.news-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.news-image img {
  width: 100%;
  height: 500px;

  object-fit: cover;
  transition: filter 0.5s ease;
}

.news-text span {
  font-family: var(--paralucent);
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.news-text h3 {
  font-family: var(--ivypresto);
  font-size: 3.5rem;
  margin: 1rem 0;
  line-height: 1;
}

.news-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 400px;
  margin-bottom: 2rem;
}

/* esto si qureis quitarlo lo de leer mas para no hacer mas htmls o podemos hacer q lleguen sino a una ventana modal
 */
.read-more {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  border-bottom: 1px solid var(--black);
  padding-bottom: 5px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .news-item {
    grid-template-columns: 1fr;
  }
  .hero-title {
    font-size: 25vw;
  }
  .news-text h3 {
    font-size: 2.5rem;
  }
}
